:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

/* Back Button */
.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  background: #fff;
  padding: 10px 18px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  font-weight: bold;
  color: #333;
  border: 2px solid #ccc;
}

.back-btn:hover {
  background: #333;
  color: white;
  border-color: #333;
}

/* Card */
.project-details-card {
  width: 600px;
  margin: 120px auto; /* center card */
  background: #f2f2f2; /* light gray */
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

/* Title (big & center) */
.project-details-card .project-title {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Text at bottom */
.project-details-card .project-desc {
  font-size: 18px;
  color: #444;
  margin-top: 20px;
  line-height: 1.6;
}